#mainmap {
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.fakemap {
  background: rgb(248, 245, 245);
}
nav {
  z-index: 1;
}
.footer-container {
 background: #f8f9fa; 
 background: linear-gradient(#e1e5e9, 10%, #ffffff); 
 overflow: hidden;
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 opacity: 0;
 transition: height 0.2s, opacity 0.2s;
 box-shadow: 0px -2px 2px rgba(108, 117, 125, 0.377);
 border-radius: 10px 10px 0 0;
 border-top: 2px ridge rgb(108, 117, 125);
 padding: 0.1rem 0.1rem;
}
.footer-inner-container {
  overflow: auto;
  height: 100%;
}

.noui-date-slider {
  width: calc(100vw - 100px);
  margin: auto;
}

.noui-date-slider-padding {
  height: 50px;
}

.footer-controls {
  float: right;
  margin-right: 1rem;
}

/* resized map and bottom panels: step size 1 */
#mainmap.map-step-1 {
  bottom: 6.5rem;
}

.footer-container-step-1 {
  height: 6.5rem;
  opacity: 1;
}
.footer-heading {
  margin: auto;
  text-align: center;
}
.footer-container-step-1 #myfarm-block-info {
  display: none;
}


@media (min-width: 768px) {
  .footer-container {
    padding: 0.1rem 0.7rem;
  }

  #mainmap.map-step-1 {
    bottom: 9.5rem;
  }
  
  .footer-container-step-1 {
    height: 9.5rem;
  }

  .noui-date-slider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .footer-heading {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 0.2rem;
  }
}

/* resized map and bottom panels: step size 2 */
#mainmap.map-step-2 {
  bottom: 16rem;
}

.footer-container-step-2 {
  height: 16rem;
  opacity: 1;
}
.footer-container-step-2 #myfarm-block-info {
  display: block;
}

#myfarm-plot {
  width: 100%;
  height: 8rem;
}

@media (min-width: 992px) {
  #mainmap.map-step-2 {
    bottom: 27rem;
  }
  
  .footer-container-step-2 {
    height: 27rem;
  }

  #myfarm-plot {
    height: 16rem;
  }
}

/* customise the slider control */

.noUi-handle:after, .noUi-handle:before {
  display: none;
}
.noUi-handle {
  background: #229aeb; 
  border: 2px solid #524f4f;
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  box-shadow: 0 0 3px rgba(102, 102, 102, 0.5), inset 0 0 0.5rem rgba(250, 250, 250, 0.7);
}

/* current conditions marker */
.conditions-marker {
  background: #f8f9fa;
  border-radius: 0.5rem;
  border: 2px ridge #524f4f;
  padding: 0.1rem 0.5rem;
  position: absolute;
  box-shadow: 1px 1px 2px rgba(30, 30, 30, 0.2);
  transform: translate(0, -15px);

}
.conditions-marker:before {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #524f4f;
	border-bottom: 0;
	margin-left: -15px;
  margin-bottom: -15px;
  
}
.conditions-marker:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color: #f8f9fa;
	border-bottom: 0;
	margin-left: -13px;
  margin-bottom: -13px;
  
}

img.inline-icon {
  height: 1.5em;
}
